@media screen and (max-width: 768px) {
  .navigation-menu ul {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .navigation-menu.expanded ul {
    display: block;
  }
  .navbar-collapse {
    position: absolute;
    right: 0px;
  }

  .site-navigation {
    position: relative;
  }
  .site-menu {
    background-color: #fff;
  }
  .site-navigation .site-menu > li {
    height: 40px;
    padding: 0px 10px 0 30px;
    display: flex !important;
    align-items: center;
    justify-content: flex-end;
  }
  .site-navigation .site-menu > li > a {
    margin: 0px;
    padding: 0px !important;
  }
}

@media screen and (min-width: 768px) {
  .navbar-collapse {
    float: right;
  }
}
